# Replace with your locally installed SDK version
# $ xcrun --sdk macosx --show-sdk-path
build:macos --macos_sdk_version=13.3
build:macos --//toolchain:host_os=macos

build:linux --//toolchain:host_os=linux

build --platforms=//:hobby_os_platform
build --host_platform=@local_config_platform//:host
build --extra_execution_platforms=@local_config_platform//:host

build --incompatible_enable_cc_toolchain_resolution

# Debug config
build:debug --strip=never
build:debug --cxxopt=-g
build:debug --cxxopt=-O1

try-import %workspace%/.bazelrc.user
